<section class="footer">
  <div class="footer_arrow">
    <a title="Flecha" href="#header"> <img class="footer_arrow--img" src="./assets/images/ico-arrow.svg"
        alt="Flecha"></a>
  </div>

  <div class="footer_box">
    <section class="footer_box_menu">
      <nav>
        <ul class="footer_box_menu--item">
          <li><a href="https://adalab.es/">Articles</a></li>
          <li><a href="https://adalab.es/">Books</a></li>
          <li><a href="https://adalab.es/">Events</a></li>
          <li><a href="https://adalab.es/">Reason</a></li>
          <li><a href="https://adalab.es/">Tips</a></li>
        </ul>
      </nav>
    </section>
    <section class="footer_box_menu">
      <nav>
        <ul class="footer_box_menu--item">
          <li><a href="https://adalab.es/">Twitter</a></li>
          <li><a href="https://adalab.es/">Instagram</a></li>
          <li><a href="https://adalab.es/">Mastodon.social</a></li>
        </ul>
      </nav>
    </section>
    <section class="footer_box_menu--copy">
      <span>©2021</span>
      <div>We <span class="heart">❤</span> componens</div>
    </section>
  </div>

</section>