<secction class="reason container">
    <h2 id="reason" class="reason_title">3 Reasons to purchase</h2>
    <article class="reason_text">
        <h3 class="reason_text--title">Ut sed metus</h3>
        <p class="reason_text--item">Lorem ipsum dolor sit amet consectetur.</p>
    </article>
    <article class="reason_text">
        <h3 class="reason_text--title">Curabitur ac erat</h3>
        <p class="reason_text--item">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="reason_text">
        <h3 class="reason_text--title">Morbi dictum</h3>
        <p class="reason_text--item"></p>Aliquam in dolor et dolor tincidunt.</p>
    </article>

    <div class="reason_button">
        <button class="reason_button--item"> Boton More Reason </button>
    </div>

</secction>