.footer_box {
  @include display();
  background-color: #304268;
  flex-direction: column;
  position: relative;
  padding-top: 60px;
  padding-bottom: 45px;
  height: 465px;
  width: 100%;
  text-align: center;
  font-family: $fontRegular;
  font-size: 16px;
  line-height: 30px;
  @media all and (min-width: 720px) {
    padding: 39px 45px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    height: 240px;
  }
  @media all and (min-width: 1200px) {
    justify-content: center;
  }

  &_menu--item {
    margin-bottom: 30px;
    @media all and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &_menu--item a {
    text-transform: uppercase;
    color: $white;
  }

  &_menu--copy {
    color: $white;
    font-size: 14px;
    @media all and(min-width:720px) {
      order: -1;
    }
    @media all and (min-width: 1200px) {
      margin-right: 31px;
    }
  }
}

.footer_arrow {
  @include display();
  position: absolute;
  z-index: 1;
  left: calc(50% - 22px);
  transform: translate(0, -50%);
  width: 45px;
  height: 45px;
  background-color: $white;
  border-radius: 50px;

  &--img {
    height: 24px;
  }
}

.heart {
  color: red;
}
