.header_menu {
  @include display();
  position: fixed;
  top: 0px;
  background-color: #0271bc;
  width: 44px;
  height: 44px;
}

.header_hero {
  @include display();
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  @media all and (min-width: 720px) {
    height: 778px;
  }
  @media all and (min-width: 1200px) {
  }

  &--title {
    font-family: $fontbold;
    line-height: 55px;
    font-size: 42px;
    text-transform: uppercase;
    margin-top: 284px;
    margin-bottom: 10px;
    width: 290px;
    height: 110px;
    text-align: center;

    @media all and (min-width: 720px) {
      line-height: 106px;
      font-size: 80px;
      width: 690px;
      height: 212px;
      margin-top: 384px;
    }
    @media all and (min-width: 1200px) {
      width: 730px;
      height: 264px;
      line-height: 132px;
      font-size: 100px;
      margin-bottom: 0;
    }
  }

  &--text {
    font-family: $fontRegular;
    font-size: 16px;
    margin-bottom: 45px;
    @media all and (min-width: 720px) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }

  &--down {
    @include display();
    background-color: $white;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    &--img {
      width: 20px;
    }
    @media all and (min-width: 720px) {
      margin-bottom: 45px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 13px;
    }
  }
}
