.main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 15px 45px 15px;
  @media all and (min-width: 720px) {
    margin: 30px 39px 60px 39px;
  }
  @media all and (min-width: 1200px) {
    margin: 60px 275px;
  }
}

.main_content--tip {
  color: #8ccbea;
  font-size: 14px;
  line-height: 30px;
}

.main_content--title {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  color: #000000;
  width: 290px;
  @media all and (min-width: 720px) {
    font-size: 26px;
    line-height: 45px;
    width: 690px;
  }
}
.main_content--text {
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 30px;
  @media all and (min-width: 720px) {
    font-size: 20px;
  }
}

.main_content--button--item {
  background-color: #ffffff;
  border: #f26002 solid 2px;
  font: "Roboto", sans-serif 20px;
  font-size: 20px;
  color: #f26002;
  text-align: center;
  border-radius: 30px;
  height: 45px;
  width: 76px;
  @media all and (min-width: 1200px) {
    width: 160px;
  }
}
